/* style.css */

body {
    font-family: Arial, sans-serif;
    background:rgb(30, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background:rgb(68, 25, 25);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color:white;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button#add-task-btn {
    padding: 10px 20px;
    background:rgb(30, 15, 15);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#add-task-btn:hover {
    background-color:rgb(224, 120, 120);
}

ul#todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul#todo-list li {
    background: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid rgb(30, 15, 15);
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#todo-list li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

ul#todo-list li button {
    background:red;
    border: none;
    color:white; 
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    
}
